{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>video downloader</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/dnldr.css' %}">
  

</head>

<body>
  <div class="container">
    <nav class="navbar navbar-dark ">
      <div class="container-fluid">
        <a class="nav-link logo">VD Downloader</a>
        <form class="d-flex">
          <a href="/" class="login">HOME</a>
        </form>
      </div>
    </nav>
</div>

  
    
    
</div>
  <main class="main flow">
    <h1 class="main__heading">DOWNLOAD YOUR FILE WITH US</h1>
    <div class="main__cards cards">
      <div class="cards__inner">
        <div class="cards__card card">
          <h2 class="card__heading">Download from</h2>
          <p class="card__price">Instagram</p>
          <ul role="list" class="card__bullets flow">
            <li>download instagram reels</li>
            <li>hd quality</li>
          </ul>
          <div><img src="{% static 'imgs/icons8-instagram-94.png' %}" alt=""></div>
          <a href="/insta" class="card__cta cta">Download Now</a>
        </div>

        <div class="cards__card card">
          <h2 class="card__heading">Download from</h2>
          <p class="card__price">Youtube</p>
          <ul role="list" class="card__bullets flow">
            <li>Download youtube videos</li>
            <li>hd quality</li>
            
          </ul>
          <div><img src="{% static 'imgs/icons8-youtube-94.png' %}" alt=""></div>
          <a href="/yt" class="card__cta cta">Download Now</a>
        </div>

        <div class="cards__card card">
          <h2 class="card__heading">Download from</h2>
          <p class="card__price">Twitter</p>
          <ul role="list" class="card__bullets flow">
            <li>Download videos from twitter/X</li>
            <li>hd quality</li>
            
          </ul>
          <div><img src="{% static 'imgs/icons8-twitter-circled-94.png' %}" alt=""></div>
          <a href="/" class="card__cta cta">Download Now</a>
        </div>
      </div>

      <div class="overlay cards__inner"></div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="{% static 'js/dnldr.js' %}"></script>

</body>

</html>